[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
pyjwt = "*"
requests = "*"
django-cors-headers = "*"
django-on-heroku = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
